<%- include("partials/header.ejs") %>
    <div class="container">
        <div class="container-item">
            <h1 class="view-posts-main-text">Here is a Weather information about your given city!</h1>
            <br>
            <% if (locals.content){%>
                <% const directionMap={ N: "North" , NNE: "North-Northeast" , NE: "Northeast" , ENE: "East-Northeast" ,
                    E: "East" , ESE: "East-Southeast" , SE: "Southeast" , SSE: "South-Southeast" , S: "South" ,
                    SSW: "South-Southwest" , SW: "Southwest" , WSW: "West-Southwest" , W: "West" , WNW: "West-Northwest"
                    , NW: "Northwest" , NNW: "North-Northwest" }; %>
                    <% let data=JSON.parse(content);const weather=data.current.condition.text;const
                        location=data.location.name;const localtime=data.location.localtime;const
                        lat=data.location.lat;const lon=data.location.lon;const temp_c=data.current.temp_c;const
                        temp_f=data.current.temp_f;const wind_kph=data.current.wind_kph;const
                        wind_dir=data.current.wind_dir;const gust_kph=data.current.gust_kph;%>
                        <h2>Showing results for <%= location %>
                        </h2>
                        <br>
                        <h2>Current Time: <%= localtime %>
                        </h2>
                        <h2>Current Weather: <%= weather %>
                        </h2>
                        <h2>Current Temperature in Celsius and Fahrenheit: <%= temp_c %>°, <%= temp_f %>°</h2>
                        <br>
                        <h2>Latitude and longitude of <%= location %>: <%= lat %>, <%= lon %>
                        </h2>
                        <h2>Wind Speed: <%= wind_kph %> kph</h2>
                        <h2>Wind Direction: <%= directionMap[wind_dir] %>
                        </h2>
                        <h2>Wind Gusts Speed: <%= gust_kph %> kph</h2>
                        <% }else{%>
                            <h2>No content yet.</h2>
                            <%} %>
        </div>


    </div>
    <%- include("partials/footer.ejs") %>